USE [master]
GO
/****** Object:  Database [HakunaMatata]    Script Date: 19/12/2020 9:36:40 AM ******/
CREATE DATABASE [HakunaMatata]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HakunaMatata', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HakunaMatata.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HakunaMatata_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HakunaMatata_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HakunaMatata].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HakunaMatata]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ABOUT_US]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABOUT_US](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AGENT]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AGENT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgentName] [nvarchar](100) NULL,
	[PhoneNumber] [varchar](12) NULL,
	[Email] [varchar](200) NULL,
	[Facebook] [nvarchar](100) NULL,
	[Zalo] [nvarchar](100) NULL,
	[LoginName] [varchar](50) NULL,
	[Password] [varchar](300) NULL,
	[ActiveKey] [varchar](300) NULL,
	[ResetPasswordKey] [varchar](300) NULL,
	[LastLogin] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[LevelId] [int] NOT NULL,
	[ConfirmPhoneNumber] [bit] NOT NULL DEFAULT (CONVERT([bit],(0))),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](100) NOT NULL,
	[CityId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FAQ]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQ](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [ntext] NULL,
	[Answer] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LEVEL]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEVEL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAP]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longtitude] [decimal](9, 6) NULL,
	[WardId] [int] NULL,
	[DistrictId] [int] NULL,
	[CityId] [int] NULL,
	[RealEstateId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RealEstateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PICTURE]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PICTURE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PictureName] [varchar](100) NULL,
	[RealEstateId] [int] NULL,
	[URL] [varchar](300) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[NativeHeight] [int] NOT NULL DEFAULT ((0)),
	[NativeWidth] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POLICY]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLICY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyContent] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RATING]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rate] [int] NOT NULL,
	[RealEstateId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REAL_ESTATE]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REAL_ESTATE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostTime] [datetime] NOT NULL,
	[LastUpdate] [datetime] NULL,
	[ExprireTime] [datetime] NULL,
	[RealEstateTypeId] [int] NULL,
	[AgentId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[ContactNumber] [nvarchar](max) NULL,
	[IsConfirm] [bit] NOT NULL DEFAULT (CONVERT([bit],(0))),
	[BeginTime] [datetime2](7) NOT NULL DEFAULT ('2019-12-21T00:00:00.0000000'),
	[ConfirmStatus] [int] NOT NULL DEFAULT ((0)),
	[IsAvaiable] [bit] NOT NULL DEFAULT (CONVERT([bit],(0))),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REAL_ESTATE_DETAIL]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REAL_ESTATE_DETAIL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RealEstateId] [int] NULL,
	[Title] [nvarchar](300) NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Acreage] [int] NOT NULL,
	[RoomNumber] [int] NOT NULL,
	[Description] [ntext] NULL,
	[HasPrivateWC] [bit] NOT NULL,
	[HasMezzanine] [bit] NOT NULL,
	[AllowCook] [bit] NOT NULL,
	[FreeTime] [bit] NOT NULL,
	[WaterPrice] [int] NULL,
	[ElectronicPrice] [int] NULL,
	[WifiPrice] [decimal](18, 0) NULL,
	[SecurityCamera] [bit] NOT NULL DEFAULT (CONVERT([bit],(0))),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RealEstateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REAL_ESTATE_TYPE]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REAL_ESTATE_TYPE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RealEstateTypeName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SOCIAL_LOGIN]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SOCIAL_LOGIN](
	[ProviderKey] [nvarchar](300) NOT NULL,
	[UserId] [int] NOT NULL,
	[Provider] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WARD]    Script Date: 19/12/2020 9:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WARD](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WardName] [nvarchar](100) NOT NULL,
	[DistrictId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[AGENT]  WITH CHECK ADD FOREIGN KEY([LevelId])
REFERENCES [dbo].[LEVEL] ([Id])
GO
ALTER TABLE [dbo].[DISTRICT]  WITH CHECK ADD FOREIGN KEY([CityId])
REFERENCES [dbo].[CITY] ([Id])
GO
ALTER TABLE [dbo].[MAP]  WITH CHECK ADD FOREIGN KEY([CityId])
REFERENCES [dbo].[CITY] ([Id])
GO
ALTER TABLE [dbo].[MAP]  WITH CHECK ADD FOREIGN KEY([DistrictId])
REFERENCES [dbo].[DISTRICT] ([Id])
GO
ALTER TABLE [dbo].[MAP]  WITH CHECK ADD  CONSTRAINT [FK__MAP__RealEstateI__49C3F6B7] FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[REAL_ESTATE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MAP] CHECK CONSTRAINT [FK__MAP__RealEstateI__49C3F6B7]
GO
ALTER TABLE [dbo].[MAP]  WITH CHECK ADD FOREIGN KEY([WardId])
REFERENCES [dbo].[WARD] ([Id])
GO
ALTER TABLE [dbo].[PICTURE]  WITH CHECK ADD  CONSTRAINT [FK__PICTURE__RealEst__4CA06362] FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[REAL_ESTATE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PICTURE] CHECK CONSTRAINT [FK__PICTURE__RealEst__4CA06362]
GO
ALTER TABLE [dbo].[RATING]  WITH CHECK ADD FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[REAL_ESTATE] ([Id])
GO
ALTER TABLE [dbo].[REAL_ESTATE]  WITH CHECK ADD  CONSTRAINT [FK__REAL_ESTA__Agent__3F466844] FOREIGN KEY([AgentId])
REFERENCES [dbo].[AGENT] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REAL_ESTATE] CHECK CONSTRAINT [FK__REAL_ESTA__Agent__3F466844]
GO
ALTER TABLE [dbo].[REAL_ESTATE]  WITH CHECK ADD  CONSTRAINT [FK__REAL_ESTA__ReaEs__3E52440B] FOREIGN KEY([RealEstateTypeId])
REFERENCES [dbo].[REAL_ESTATE_TYPE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REAL_ESTATE] CHECK CONSTRAINT [FK__REAL_ESTA__ReaEs__3E52440B]
GO
ALTER TABLE [dbo].[REAL_ESTATE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK__REAL_ESTA__RealE__5629CD9C] FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[REAL_ESTATE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REAL_ESTATE_DETAIL] CHECK CONSTRAINT [FK__REAL_ESTA__RealE__5629CD9C]
GO
ALTER TABLE [dbo].[SOCIAL_LOGIN]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AGENT] ([Id])
GO
ALTER TABLE [dbo].[WARD]  WITH CHECK ADD FOREIGN KEY([DistrictId])
REFERENCES [dbo].[DISTRICT] ([Id])
GO
USE [master]
GO
