@section scripts{
    <script src="~/js/mustache.min.js"></script>
    <script src="~/js/pagination.min.js"></script>
    <script src="~/admin/js/services/realEstateServices.js"></script>
}


<div class="row">
    <div class="col-6 mt-2">
        <input type="text" class="form-control" value="" id="search-for-anything" placeholder="Enter search" />
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Địa chỉ</th>
            <th>Loại phòng</th>
            <th>Người đăng</th>
            <th>Ngày đăng</th>
            <th>Tình trạng</th>
        </tr>
    </thead>

    <tbody id="real-estate-list-data">
    </tbody>
</table>

@Html.AntiForgeryToken()
<div id="pagination"></div>

<script id="data-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Street}}</td>
        <td>{{Type}}</td>
        <td>{{Agent}}</td>
        <td>{{PostDate}}</td>
        <td>{{Status}}</td>
        <td class="text-center">
            <a href="@Url.Action("Details","RealEstate")?id={{Id}}" title="Chi tiết" class="btn btn-info btn-circle">
                <i class="fa fa-info" al></i>
            </a>
            <a href="@Url.Action("Edit","RealEstate")?id={{Id}}" title="Chỉnh sửa" class="btn btn-primary btn-circle">
                <i class="fas fa-pencil-alt"></i>
            </a>

            <form onsubmit="return realEstateServices.disableRealEstate(this);" class="d-inline">
                <input type="hidden" name="id" value="{{Id}}" />
                <button class="btn btn-warning btn-circle" type="submit">
                    <i class="fas fa-store-alt-slash"></i>
                </button>
            </form>
        </td>
    </tr>
</script>
