@model IEnumerable<HakunaMatata.Models.ViewModels.VM_RealEstate>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Static Tables</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-action="Index">Real Estate</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-action="Index">Index</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Real Estate List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div id="view-all">
    @await Html.PartialAsync("_ViewAllRealEstates", Model)
</div>
